.idea
*.log
*.history
server/.settings
server/target/*
server/Reports
server/ext
server/bin
server/projects/*

client/projects/*
client/libs/
client/target/

standalone/build.xml
standalone/build/
standalone/nbproject/private
/standalone/dist/